.cardImage{
    border-radius: 50%;
    padding: 15px;
}

.column-2-1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: $card-color;
}

.column-2-4 {
    display: grid;
    grid-template-columns: 2fr 4fr;
    background-color: $card-color;
}

.column-4-2 {
    display: grid;
    grid-template-columns: 4fr 2fr;
    background-color: $card-color;
}

.divider{
    padding-top: 3px;
    padding-bottom: 3px;
    border-top: 3px solid #bbb;
}

.rightPadding{
    padding-right: 15px;
    text-align: right;
}

.leftPadding{
    padding-left: 15px;
    text-align: left;
}

h1, h2{
    font-weight: bold;
    font-size: 40px;
}

h1{
    padding-top: 10px;
}

h2{
    font-size: 20px;
}

h6{
    font-size: 19px;
    padding: 20px;
    text-align: left;
}

.fitWidth{
    width: 100%;
    background-color: $card-color;
}