.profile{
    border-radius: 50%;
    padding: 15px;
}

.card {
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: $card-color;
}

.divider{
    padding-top: 3px;
    padding-bottom: 3px;
    border-top: 3px solid #bbb;
}


h1, h2{
    padding-right: 10px;
    text-align: right;
    font-weight: bold;
    font-size: 40px;
}

h1{
    padding-top: 10px;
}

h2{
    font-size: 20px;
}

h5{
    padding: 10px;
    text-align: left;
}