.contactText{
  padding: 20px;
}

.contactCard{
  min-height: 350px;
}

.contact-button{
  padding: 15px;
  font-size: 20px;
  font-weight: bold;
  vertical-align: middle;
  width: 150px;
  height: 45px;
  margin: 5px;
}

.gmailButton{
  background-color: #FFFFFF;
  p {
    color: #5D6065;
  }
}

.faIcon{
  padding: 10px;
}