.hero.is-primary{
  background-color: $primary-color;
}

.contact-button{
  padding: 15px;
  font-size: 20px;
  font-weight: bold;
  vertical-align: middle;
  width: 150px;
  height: 45px;
  margin: 5px;
  img {
    height: 25px;
  }
}

#gmailButton{
  background-color: #FFFFFF;
  color: white;
  a {
    padding-left: 5px;
    color: black;
  }
}

#facebookButton{
  background-color: #395185;
  color: white;
  a {
    padding-left: 5px;
    color: white;
  }
}