.hero.is-primary{
  background-color: $primary-color;
}

.contact-button{
  padding: 15px;
  font-size: 20px;
  font-weight: bold;
  vertical-align: middle;
  width: 150px;
  height: 45px;
  margin: 5px;
}

.gmailButton{
  background-color: #FFFFFF;
  p {
    color: #5D6065;
  }
}

.facebookButton{
  background-color: #1877F2;
  * {
    color: white;
  }
}

.linkedInButton{
  background-color: #0077B5;
  * {
    color: white;
  }
}

.gitHubButton{
  background-color: #161B22;
  * {
    color: white;
  }
}

.cv-button{
  padding: 15px;
  font-size: 20px;
  font-weight: bold;
  vertical-align: middle;
  min-width: 150px;
  height: 45px;
  margin: 5px;
  background-color: $primary-color;
  * {
    color: white;
  }
}