.hero.is-primary{
  background-color: $primary-color;
}

.contact-button{
  padding: 15px;
  font-size: 20px;
  font-weight: bold;
  vertical-align: middle;
  width: 150px;
  height: 45px;
  margin: 5px;
  img {
    height: 25px;
  }
}

#gmailButton{
  background-color: #FFFFFF;
  a {
    padding-left: 5px;
    color: #5D6065;
  }
}

#facebookButton{
  background-color: #1877F2;
  a {
    padding-left: 5px;
    color: white;
  }
}

#linkedInButton{
  background-color: #0077B5;
  a {
    padding-left: 5px;
    color: white;
  }
}

#gitHubButton{
  background-color: #161B22;
  a {
    padding-left: 5px;
    color: white;
  }
}

.cv-button{
  padding: 15px;
  font-size: 20px;
  font-weight: bold;
  vertical-align: middle;
  min-width: 150px;
  height: 45px;
  margin: 5px;
  .icon {
    height: 25px;
    color: white;
  }
}

#cvButton{
  background-color: $primary-color;
  a {
    color: white;
  }
}