.div-slide{
  div{
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
  }
}

.upper-card{
  box-shadow: 0 8px 32px 0 rgba(0,0,0,0.2);
  margin: 10px;
  p{
    padding: 5px;
  }
}

.project-content{
  padding: 20px;
  text-align: left;
}